.padded {
    width: 100%;
    margin: 15px auto;
}

.wproject {
    font-size: 13px;
    border: 1px #181818;
    background: #d0d0d0;
    margin: 4px;
    padding: 6px;
    float: left;
    border-radius: 10px;
}

.btn-success {
    background: white;
    -webkit-transition: background linear 350ms;
    color: #5cb85c;
}

.btn-warning {
    background: white;
    -webkit-transition: background linear 350ms;
    color: #ec971f;
}

.btn-danger {
    background: white;
    -webkit-transition: background linear 350ms;
    color: #d9534f;
}
