/* Glyphicons supported by http://glyphicons.com via Bootstrap */
.padded {
    width: 100%;
    margin: 15px auto;
}

.wproject {
    font-size: 13px;
    border: 1px #181818;
    background: #d0d0d0;
    margin: 3px;
    display: inline-block;
    padding: 6px;
    float: left;
    border-radius: 10px;
}

.btn-xs {
    margin: 2px;
}

.btn-success {
    background: white;
    -webkit-transition: background linear 350ms;
    color: #5cb85c;
    /*border: 1px solid #5cb85c;*/
}

.btn-success-clicked {
    background: #5cb85c;
    color: white;
}

.btn-secondary {
    color: darkgrey;
    background: white;
    border: 1px solid darkgrey;
}

.btn-danger {
    background: white;
    -webkit-transition: background linear 350ms;
    color: #d9534f;
    /*border: 1px solid #d9534f;*/
}

.btn-danger-clicked {
    background: #d9534f;
    color: white;
}

.page-div {
    padding-left: 80px;
}

.wikiproject-div {
    align-items: center;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header-div {
    margin: 10px;
    padding: 5px;
    align-items: center;
    border-bottom: 2px solid black;
}

.header-col {
    font-weight: 700;
    margin: auto;
}

.row-container {
    align-items: center;
    padding: 10px;
}

.row-div {
}

.compare-div {
    width: 100%;
    height: 120px;
    display: none;
    margin: auto;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}

.compare-button {
    margin-left: 80px;
    margin-right: 20px;
}

.compare-links-container {
    padding: 10px;
    border-bottom: 1px dashed darkgrey;
}

.compare-pane {
    width: 47%;
    margin: 2px 1%;
    float: left;
    overflow-y: auto;
    height: 120px;
    display: inline-block;
    border: 1px solid black;
}

/* Some margin for our flash message */
.alert-success {
    margin: 20px;
}