.padded {
    width: 100%;
    margin: 15px auto;
}

.wproject {
    font-size: 13px;
    border: 1px #181818;
    background: #d0d0d0;
    margin: 4px;
    padding: 6px;
    float: left;
    border-radius: 10px;
}

.btn-success {
    background: white;
    -webkit-transition: background linear 350ms;
    color: #5cb85c;
    /*border: 1px solid #5cb85c;*/
}

.btn-success-clicked {
    background: #5cb85c;
    color: white;
}

.btn-secondary {
    color: darkgrey;
    background: white;
    border: 1px solid darkgrey;
}

.btn-danger {
    background: white;
    -webkit-transition: background linear 350ms;
    color: #d9534f;
    /*border: 1px solid #d9534f;*/
}

.btn-danger-clicked {
    background: #d9534f;
    color: white;
}

.page-div {
    padding-left: 20px;
}

.header-div {
    /*border: 1px solid blue;*/
    margin: 10px;
    padding: 5px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: 2px solid black;
}

.header-col {
    font-weight: 700;
    margin: auto;
}

.row-container {
    /*border: 1px solid green;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
}

.row-div {
    /*border: 1px solid yellow;*/
}

.compare-div {
    /*border: 1px solid orangered;*/
    width: 70%;
    height: 100px;
    display: none;
    margin: auto;
}

.compare-button {
    margin-left: 10%;
    margin-right: 20px;
}

.compare-links-container {
    /*border: 1px solid purple;*/
    padding: 10px;
    border-bottom: 1px solid darkgrey;
}

/*.page-div .diff-div .report-div .wikiproject-div {*/
/*border-right: 1px solid darkgrey;*/
/*}*/

