.DS_Store
.lighttpd.conf
.viminfo
.my.cnf
.env
.*_history
.bash*
*.log
tmp/
/vendor/
src/Less/cache/*
fill_patroller/
flask-mwoauth/
.composer/
.npm/
.idea/
.local/
.subversion/
.kube/
replica.my.cnf
service.manifest
restart_webservice.sh
deploy.sh
composer.lock
!.gitkeep
