{% set lang = i18nCtx.getCurrentLanguage %}
<!DOCTYPE html>

<html lang="en">
<head>
	<title>CopyPatrol</title>
	<link href="{{ siteUrl( 'images/favicon.ico' ) }}" rel="shortcut icon" sizes="16x16 32x32"/>
	{% block stylesheets %}
		<link href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"
		      rel="stylesheet"/>
		<link href="{{ siteUrl( 'index.css' ) }}" type="text/css" rel="stylesheet"/>
		<link href="{{ siteUrl( 'vendor/select2.min.css' ) }}" type="text/css" rel="stylesheet"/>
	{% endblock %}
	{% block scripts %}
		<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/1.12.0/jquery.min.js"
		        type="text/javascript"></script>
		<script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"
		        type="text/javascript"></script>
		<script src="{{ siteUrl( 'js/index.js' ) }}" type="text/javascript"></script>
		<script src="{{ siteUrl( 'vendor/select2.min.js' ) }}" type="text/javascript"></script>
	{% endblock %}
	<script>
		var form_wikiprojects_placeholder = "{{ 'form-wikiprojects-placeholder'|message }}",
				js_unauthorized = "{{ 'js-unauthorized'|message }}",
				js_dberror = "{{ 'js-dberror'|message }}",
				js_undo_own_only = "{{ 'js-undo-own-only'|message }}",
				js_unknown_error = "{{ 'js-unknown-error'|message }}",
				js_loadmore = "{{ 'footer-loadmore'|message }}",
				js_nomore = "{{ 'footer-nomore'|message }}";
	</script>
</head>

<body>
<header class="app-header">
	<a href="{{ siteUrl( '' ) }}"><img src="{{ siteUrl( 'images/copypatrol.png' ) }}"/></a>
	<a class="header-link" target="_blank" href="https://meta.wikimedia.org/wiki/CopyPatrol">{{ 'header-documentation'|message }}</a>
	<a class="header-link" target="_blank" href="https://meta.wikimedia.org/wiki/Talk:CopyPatrol">{{ 'header-feedback'|message|raw }}</a>
	<a class="header-link" href="{{ siteUrl( 'leaderboard' ) }}">{{ 'header-leaderboard'|message }}</a>
	{% if user %}
		<a href="{{ urlFor( 'logout' ) }}" id="login-btn" class="btn btn-sm btn-default {{ user ? 'logged-in' : '' }}">
			<span class=" glyphicon glyphicon-log-in"></span> {{ 'header-logout'|message }}<br>
			<small>{{ 'header-loggedin'|message( user.name ) }}</small>
		</a>
	{% else %}
		<a href="{{ urlFor( 'oauth_init' ) }}" id="login-btn" class="btn btn-sm btn-default">
			<span class=" glyphicon glyphicon-log-in"></span> {{ 'header-login'|message }}
		</a>
	{% endif %}
</header>
<main id="body">
	{% block banners %}
		<section class="banners">
			{% if staging %}
				<div class="alert alert-danger text-center">{{ 'alert-testing'|message }}</div>
			{% endif %}
			{% block flashes %}
				{% if flash|default(false) %}
					{% if flash.error|default(false) %}
						<div class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							{{ flash.error }}
						</div>
					{% endif %}
					{% if flash.success|default(false) %}
						<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							{{ flash.success }}
						</div>
					{% endif %}
					{% if flash.warning|default(false) %}
						<div class="alert alert-warning alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							{{ flash.warning }}
						</div>
					{% endif %}
					{% if flash.info|default(false) %}
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							{{ flash.info }}
						</div>
					{% endif %}
				{% endif %}
			{% endblock flashes %}
		</section>
	{% endblock %}

	{% block main %}
		<section class="filters container-fluid">
			<form id="filters-form">
				<fieldset class="form-group filters-fieldset text-center">
					<div class="cases-filter col-sm-12">
						{% for type, description in filterTypes %}
							<span class="radio-inline">
								<label>
									<input type="radio" name="filter" value="{{ type }}"
											{% if filter == type %} checked="checked"{% endif %}
									/> {{ description }}
								</label>
							</span>
						{% endfor %}
						<span class="checkbox-inline">
							<label>
								<input type="checkbox" name="drafts" value="1"
										{% if drafts %} checked="checked"{% endif %}
								/> {{ 'form-drafts'|message }}
							</label>
						</span>
					</div>
					<div class="wikiproject-filter col-sm-12">
						<label class="wikiproject-label" for="wikiproject-selector">
							{{ 'form-wikiprojects'|message }}
						</label>
						<select id="wikiproject-selector" class="wikiproject-selector col-sm-5" multiple="multiple">
							{% for wikiproject in wikiprojectsArray %}
								<option value="{{ wikiproject }}" selected="selected">{{ wikiproject }}</option>
							{% endfor %}
						</select>
						{# use hidden input field so we can submit with format 'WP1|WP2|WP3' #}
						<input type="hidden" name="wikiprojects" value="{{ wikiprojects }}" formenctype="text/plain"/>
						<button type="submit"
						        class="btn btn-primary btn-sm btn-submit-filters">{{ 'form-submit'|message }}</button>
					</div>
				</fieldset>
			</form>
		</section>

		<section class="records">
			{% block rowheader %}
				<header class="header-div container-fluid">
					<div class="header-col col-sm-3 text-center">{{ 'col-page'|message }}</div>
					<div class="header-col col-sm-2 text-center">{{ 'col-diff'|message }}</div>
					<div class="header-col col-sm-2 text-center">{{ 'col-editor'|message }}</div>
					<div class="header-col col-sm-3 text-center">{{ 'col-wikiprojects'|message }}</div>
					<div class="header-col col-sm-2 text-center">{{ 'col-review'|message }}</div>
				</header>
			{% endblock %}
			<section class="record-container">
				{% block records %}
				{% endblock %}
			</section>
			<div class="load-more-div">
				{% block loadmore %}
					<button id="btn-load-more"
					        class="btn btn-md btn-primary js-load-more">{{ 'footer-loadmore'|message }}</button>
				{% endblock %}
			</div>
		</section>
	{% endblock %}

</main>
<footer class="app-footer">
	{{ 'footer-broughtby'|message|raw }} <a href="https://meta.wikimedia.org/wiki/Community_Tech">{{ 'footer-commtech'|message }}</a> &bull;
	{{ 'footer-poweredby'|message|raw }} <a href="https://en.wikipedia.org/wiki/User:EranBot">{{ 'footer-eranbot'|message }}</a> & <a href="https://en.wikipedia.org/wiki/Wikipedia:Turnitin">{{ 'footer-turnitin'|message }}</a> &bull;
	<a href="https://github.com/wikimedia/PlagiabotWeb">{{ 'footer-source'|message|raw }}</a> &bull;
	<a href="https://phabricator.wikimedia.org/project/profile/1638">{{ 'footer-phabricator'|message|raw }}</a> &bull;
	<a href="#" data-toggle="modal" data-target="#image-attribution">{{ 'footer-imageattr'|message|raw }}</a>
</footer>

<!-- Modal -->
<div class="modal fade" id="image-attribution" tabindex="-1" role="dialog"
     aria-labelledby="image-attribution-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="image-attribution-label">
						{{ 'imageattr-title'|message }}
					</h4>
				</div>
				<div class="modal-body">
					<p>
						<a target="_blank" href="https://commons.wikimedia.org/wiki/File:Dialog-error-copyright.svg">{{ 'imageattr-logo'|message }}</a>
						<a target="_blank" href="https://en.wikipedia.org/wiki/Public_domain">{{ 'imageattr-pd'|message }}</a>
						<a target="_blank" href="https://commons.wikimedia.org/wiki/User:Xander89">{{ 'imageattr-xander'|message }}</a>
						<a target="_blank" href="http://tango.freedesktop.org/Tango_Desktop_Project">{{ 'imageattr-tango'|message }}</a>
					</p>
					<p>
						<a target="_blank" href="https://fonts.google.com/specimen/Bitter">{{ 'imageattr-font'|message|raw }}</a>
						<a target="_blank" href="http://scripts.sil.org/cms/scripts/page.php?item_id=OFL">{{ 'imageattr-openfont'|message }}</a>
						<a target="_blank" href="http://huertatipografica.com/">{{ 'imageattr-huerta'|message }}</a>
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{ 'imageattr-close'|message }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
