{% extends "base.html" %}
{% import _self as macros %}

{% block main %}
	<div class="alert alert-danger text-center">
		<p>
			{% set blockLink %}
				<strong>
					<a target="_blank" href="https://{{ wikiLang }}.wikipedia.org/w/index.php?title=Special:BlockList&amp;wpTarget={{ user.name }}">{{ 'blocked'|message }}</a>
				</strong>
			{% endset %}
			{% set wikiLink %}
				<a target="_blank" href="https://{{ wikiLang }}.wikipedia.org">{{ wikiLang }}.wikipedia.org</a>
			{% endset %}

			{{ 'access-blocked'|message(blockLink, wikiLink)|raw }}
		</p>
	</div>
{% endblock %}
