<footer class="app-footer">
	{% set broughtby %}
		<a href="https://meta.wikimedia.org/wiki/Community_Tech">{{ 'footer-commtech' | message }}</a>
	{% endset %}
	{{ 'footer-broughtby' | message( broughtby ) | raw }}
	&bull;
	{% set eranbot %}
		<a href="https://en.wikipedia.org/wiki/User:EranBot">EranBot</a>
	{% endset %}
	{% set turnitin %}
		<a href="https://en.wikipedia.org/wiki/Wikipedia:Turnitin">Turnitin</a>
	{% endset %}
	{{ 'footer-poweredby' | message( eranbot, turnitin ) | raw }}
	&bull;
	<a href="https://github.com/wikimedia/CopyPatrol">{{ 'source' | message | raw }}</a> &bull;
	<a href="https://phabricator.wikimedia.org/project/profile/1638">{{ 'phabricator' | message | raw }}</a> &bull;
	<a href="#" data-toggle="modal" data-target="#image-attribution">{{ 'footer-imageattr' | message | raw }}</a>
</footer>
