<header class="app-header">
	<a href="{{ urlFor( 'home', {wikiLang:wikiLang} ) }}"><img src="{{ siteUrl( 'images/copypatrol.png' ) }}"/></a>
	<a class="header-link" target="_blank" href="https://meta.wikimedia.org/wiki/CopyPatrol">{{ 'documentation' | message }}</a>
	<a class="header-link" target="_blank" href="https://meta.wikimedia.org/wiki/Talk:CopyPatrol">{{ 'feedback' | message | raw }}</a>
	<a class="header-link" href="{{ urlFor( 'leaderboard', {wikiLang:wikiLang} ) }}">{{ 'leaderboard' | message }}</a>
	{% if user %}
		<a href="{{ urlFor( 'logout' ) }}" id="login-btn" class="btn btn-sm btn-default {{ user ? 'logged-in' : '' }}">
			<span class=" glyphicon glyphicon-log-in"></span> {{ 'logout' | message }}<br>
			<small>{{ 'header-loggedin' | message( user.name ) }}</small>
		</a>
	{% else %}
		<a href="{{ urlFor( 'oauth_init' ) }}" id="login-btn" class="btn btn-sm btn-default">
			<span class=" glyphicon glyphicon-log-in"></span> {{ 'login' | message }}
		</a>
	{% endif %}
</header>
