{% extends "base.html" %}
{% import _self as macros %}

{% macro reviewer_node( row ) %}
	<div class="status-div-reviewer{{ row.status_user ? '': ' none' }} status-div-reviewer-{{ row.ithenticate_id }}">
		<small>Reviewed by
			<span>
				<a class="reviewer-link" href="{{ row.reviewed_by_url }}" target="_blank">{{ row.status_user }}</a>
			</span><br/>
			<time datetime="{{ row.review_timestamp }}" class="reviewer-timestamp">{{ row.review_timestamp }}</time>
		</small>
	</div>
{% endmacro %}

{% block records %}
	{% if records is not empty %}
		{% for row in records %}
			<article
					class="js-record record record-status-{{ row.status ? row.status : 'open' }} record-{{ row.ithenticate_id }}"
					data-status="{{ row.status }}">
				<div class="row-container clearfix">
					{# Div for page title #}
					<div class="row-div col-sm-3 page-div">
						<strong>
							<a href='{{ row.page_link }}' target="_blank" class="{{ row.page_dead ? 'text-danger' : '' }}">{{ row.page_title }}</a>
						</strong>
						<div class="small">
							<a href='{{ row.history_link }}' target="_blank" class="{{ row.page_dead ? 'text-danger' : '' }}">History</a>
						</div>
					</div>
					{# Div for diff information and link #}
					<div class="row-div col-sm-2 text-center diff-div">
						<a href='{{ row.diff_link }}' target="_blank" class="{{ row.page_dead ? 'text-danger' : '' }}">Diff</a>
						<br/>
						<small class="diff-div-timestamp">
							<time datetime="{{ row.diff_timestamp }}">{{ row.diff_timestamp }}</time>
						</small>
					</div>
					{# Div for editor information #}
					<div class="row-div col-sm-2 text-center report-div">
						{% if row.editor %}
							<a href='{{ row.editor_page }}' class="{{ row.editor_page_dead ? 'text-danger' : '' }}"
							   target="_blank">{{ row.editor }}</a>
							<br/>
							<small>
								<a href='{{ row.editor_talk }}' class="{{ row.editor_talk_dead ? 'text-danger' : '' }}"
								   target="_blank">Talk</a>
								|
								<a href='{{ row.editor_contribs }}' target="_blank">
									Contributions
								</a>
								{% if row.editcount %}
									<div>Edit count: {{ row.editcount | number_format }}</div>
								{% endif %}
							</small>
						{% else %}
							<span class="glyphicon glyphicon-exclamation-sign"></span>
							<div class="text-muted" data-toggle="tooltip" data-placement="bottom"
							     title="The revision may have been deleted or the data is not yet available in Labs database."
							>
								Editor not found
							</div>
						{% endif %}
					</div>
					<div class="row-div col-sm-3 text-center wikiproject-div">
						{% if row.wikiprojects is not empty %}
							{% for wp in row.wikiprojects %}
								<span class="row-div wproject">{{ wp }}</span>
							{% endfor %}
						{% endif %}
					</div>
					<div class="row-div col-sm-2 text-center status-div">
						<button data-id="{{ row.ithenticate_id }}"
						        data-status="fixed"
						        class="btn btn-success btn-block btn-fixed js-save-state {{ user ? 'clickable' : '' }}"
						        title="The edit was a copyright violation and has been reverted"
						>
							Page fixed
						</button>
						<button data-id="{{ row.ithenticate_id }}"
						        data-status="false"
						        class="btn btn-danger btn-block btn-no-action js-save-state {{ user ? 'clickable' : '' }}"
						        title="The edit is a false positive, nothing needs to be done"
						>
							No action needed
						</button>
						{{ macros.reviewer_node( row ) }}
					</div>
				</div>
				<div class="ithenticate-id">{{ row.ithenticate_id }}</div>
				<div class="compare-links-container">
					{% if row.copyvios is not empty %}
						{% for copy in row.copyvios %}
							<div class="compare-div ellipsis">
								<button class="btn btn-xs btn-primary dropdown-toggle compare-button js-compare-button"
								        data-id="{{ row.ithenticate_id }}" data-index="{{ loop.index }}"
								        data-copyvio="{{ copy }}" data-diffId="{{ row.diff }}"
								>
									<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
									Compare
								</button>
								<a href="{{ copy }}" target="_blank">{{ copy }}</a><br/>
								<div class="compare-pane" id="{{ 'comp' ~ row.ithenticate_id ~ '-' ~ loop.index }}">
									<div class="compare-pane-left">
										<h4 class="compare-pane-title">Article</h4>
										<div class="compare-pane-left-body compare-pane-body">
											<span class="text-muted">Loading article revision...</span>
										</div>
									</div>
									<div class="compare-pane-right">
										<h4 class="compare-pane-title">Source</h4>
										<div class="compare-pane-right-body compare-pane-body">
											<span class="text-muted">Loading possible copyvio source...</span>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					{% endif %}
					<a class="btn btn-xs btn-primary compare-button" href='{{ row.turnitin_report }}' target="_blank">
						<span class="glyphicon glyphicon-new-window"></span>
						iThenticate report
					</a>
				</div>
			</article>
		{% endfor %}
	{% endif %}
{% endblock %}
