{% extends "base.html" %}
{% import _self as macros %}

{# must pass in wiki and username as view-level variables are not accessible in macros #}
{% macro leaderboard_list( wikiLang, dataset, username ) %}
	<ol class="leaderboard-list">
		{% for leader in dataset %}
			<li>
				<a target="_blank" href="https://{{ wikiLang }}.wikipedia.org/wiki/User:{{ leader.user }}"
				   class="{{ username == leader.user ? 'mine' : '' }}">{{ leader.user }}</a>:
				<a href="{{ urlFor( 'home', {wikiLang:wikiLang} ) }}?filter=reviewed&filterUser={{ leader.user }}"
					title="{{ 'lboard-count-title' | message(leader.count | number_format) }}"
					>{{ leader.count | number_format }}</a></li>
		{% endfor %}
	</ol>
{% endmacro %}

{% block main %}
	<section class="leaderboard container">
		<a class="back-to-copypatrol" href="{{ urlFor( 'home', {wikiLang:wikiLang} ) }}">
			<span class="glyphicon glyphicon-chevron-left"></span>
			{{ 'lboard-back'|message }}
		</a>
		<h1 class="text-center">{{ 'lboard-title'|message }}</h1>
		<div class="text-center clearfix">
			<span class="leaderboard-column col-sm-4">
				<h3>{{ 'lboard-week'|message|raw }}</h3>
				{{ macros.leaderboard_list( wikiLang, data['last-week'], user.name ) }}
			</span>
			<span class="leaderboard-column col-sm-4">
				<h3>{{ 'lboard-month'|message|raw }}</h3>
				{{ macros.leaderboard_list( wikiLang, data['last-month'], user.name ) }}
			</span>
			<span class="leaderboard-column col-sm-4">
				<h3>{{ 'lboard-alltime'|message|raw }}</h3>
				{{ macros.leaderboard_list( wikiLang, data['all-time'], user.name ) }}
			</span>
		</div>
	</section>
{% endblock %}
