<div class="modal fade" id="image-attribution" tabindex="-1" role="dialog"
     aria-labelledby="image-attribution-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="image-attribution-label">
						{{ 'imageattr-title' | message }}
					</h4>
				</div>
				<div class="modal-body">
					<p>
						{% set copypatrol_logo %}
							<a target="_blank" href="https://commons.wikimedia.org/wiki/File:Dialog-error-copyright.svg">{{ 'imageattr-logo' | message }}</a>
						{% endset %}
						{% set public_domain %}
							<a target="_blank" href="https://en.wikipedia.org/wiki/Public_domain">{{ 'public-domain' | message }}</a>
						{% endset %}
						{% set xander89 %}
							<a target="_blank" href="https://commons.wikimedia.org/wiki/User:Xander89">Xander89</a>
						{% endset %}
						{% set tango %}
							<a target="_blank" href="http://tango.freedesktop.org/Tango_Desktop_Project">Tango Desktop Project</a>.
						{% endset %}
						{{ 'imageattr-paragraph1' | message( copypatrol_logo, public_domain, xander89, tango ) | raw }}
					</p>
					<p>
						{% set bitter %}
							<a target="_blank" href="https://fonts.google.com/specimen/Bitter">Bitter font</a>
						{% endset %}
						{% set open_font %}
							<a target="_blank" href="http://scripts.sil.org/cms/scripts/page.php?item_id=OFL">{{ 'open-font-license' | message }}</a>
						{% endset %}
						{% set huerta %}
							<a target="_blank" href="http://huertatipografica.com/">Huerta Tipográfica</a>.
						{% endset %}
						{{ 'imageattr-paragraph2' | message( bitter, open_font, huerta ) | raw }}
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{ 'close' | message }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
